apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-fastapi-app-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: my-fastapi-app
  template:
    metadata:
      labels:
        app: my-fastapi-app
    spec:
      containers:
      - name: my-fastapi-app-container
        image: my-fastapi-app-image:latest
        ports:
        - containerPort: 8080